.anchor {
  @apply px-6 rounded-xl
}

.button {
  @apply text-[#235cbd] hover:text-[#316dd5] text-lg xl:text-xl font-semibold cursor-pointer
  py-2 px-3 rounded-xl relative
  border-[3px] border-[rgba(0,0,0,0.4)] shadow-bottomshadow
  bg-[rgba(0,0,0,0.6)] outline outline-[3px] outline-[#235cbd] hover:outline-red-800 outline-offset-[-4px];
}

.button::before,
.button::after {
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #447ad8;
  transition: width 0.3s ease-in;
}

.button::before {
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button::after {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button::after:hover,
.button::before:hover,
.button:hover .spanTop,
.button:hover .spanBottom {
  @apply bg-red-800
}

.button::after:hover,
.button::before:hover {
  @apply w-4
}


.spanTop,
.spanBottom {
  @apply left-2/4 w-[2px] h-2 bg-[#447ad8] absolute transition-height duration-300 ease-in;
}

.spanTop {
  @apply top-0 
}
.spanBottom {
  @apply bottom-0 
}

.button:hover .spanTop,
.button:hover .spanBottom {
  @apply h-[10px]
}