.anchor {
  @apply px-6 rounded-xl
}

.button {
  @apply text-[#235cbd] hover:text-[#316dd5] text-2xl font-medium cursor-pointer
  py-2 px-3 rounded-xl relative
  border-[3px] border-[rgba(0,0,0,0.4)] hover:border-[#316dd5] shadow-bordershadow
  bg-[rgba(0,0,0,0.6)] outline outline-[2px] outline-[#235cbd] outline-offset-[-4px];
}

.button::before,
.button::after {
  position: absolute;
  background-color: #235cbd;
}
.button::before {
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 4px;
}

.button::after {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 4px;
}
