@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

:root {
}

.standard-blue {
  color: #235cbd;
}
.active-blue {
  color: #316dd5;
}

.button {
  @apply hover:text-[#316dd5] text-3xl font-medium cursor-pointer
  py-2 px-1 rounded-xl
  border-[3px] border-[rgba(0,0,0,0.4)] hover:border-[#316dd5] shadow-bordershadow
  bg-[rgba(0,0,0,0.6)] outline outline-[2px] outline-[#235cbd] outline-offset-[-4px];
}

.anchor {
  @apply px-6 rounded-xl
}

.parent {
  @apply px-16 pb-6 pt-5 
}